.form {
  width: 320px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px grey;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.link {
  display: flax;
  padding: 5px;
  color: black;
  border: 1px solid gray;
  border-radius: 8px;
}
.buttonrow {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
