.active {
  color: #224074;
  /* color: #e84a5f; */
  text-decoration: underline;
}
nav {
  display: flex;
  gap: 20px;
  padding-block: 10px;
  border-bottom: 1px solid black;
}
.link {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 1.5rem;
  border: 1px solid #a0c4f2;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
