.active {
  color: coral;
  text-decoration: underline;
}
nav {
  display: flex;
  gap: 20px;
  padding-block: 10px;
}
.link {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 3rem;
  border: 1px solid lightcyan;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
