.main {
  margin-top: 0;
}
.my-icon {
  size: 20px;
}
.buttonrow {
  display: flex;
  flex-direction: column; /* Расположить кнопки вертикально */
  gap: 10px; /* Добавить отступы между кнопками */
}
