.formWrapper {
  display: flex;
  gap: 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px grey;

    input,
    select,
    textarea {
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 2px 2px 2px 2px grey;
      border: 1px solid black;
      outline: none;
      font-size: 20px;
    }
    button {
      margin: 0 auto;
      width: 180px;
      padding: 5px 10px;
      border-radius: 8px;
      box-shadow: 2px 2px 2px 2px grey;
      border: 1px solid black;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: lightblue;
      }
    }
    > label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        font-size: 20px;
      }
    }
  }
}
